<ul>
      <img src="{{cover}}" style="width:300px; height:350px">
        <p>{{title}}</p>
        <p>Tác giả: {{author}}</p>
        <p>Thể loại: {{catalog}}</p>
        <p><strong> {{basePrice}} VND</strong></p>
        <p>{{detail}}</p>
        <button style="cursor: pointer; background-color :red"><a href="#">Thêm vào giỏ hàng</a></button>
</ul>