<ul class="thumbnails">
  
    <div class="thumbnail">
      <img src="{{cover}}" alt="">
      <div class="caption cntr">
        <p>{{title}}</p>
        <p>Tác giả: {{author}}</p>
        <p><strong> {{basePrice}} VND</strong></p>
        <p>{{detail}}</p>
        <h4><a class="shopBtn" href="#" title="add to cart"> Thêm vào giỏ hàng </a></h4>
        <br class="clr">
      </div>
    </div>

</ul>